.fable/
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.fsproj.user
*.DotSettings.user
src/Server/.~lock.cag-register-research-master-2021_1uhwQyX.xlsm#
minutes/**/*.pdf
minutes/**/*.db
**/downloads/**/*.pdf
**/*.db